@charset "UTF-8";

.btnReservation{
  width: 220px;
  height: 74px;
  overflow: hidden;
  border-radius: 8px;
  border: 0;
  background: #03050F;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  color: #fff;
  font-weight: 600;
}

.carListContainer{
  width: calc( 100% - 40px );
  max-width: 1400px;
  height: auto;
  margin: 0 auto;
  padding-top: 150px;
  padding-bottom: 150px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
.carListContainer .rela{
  width: 100%;
  height: auto;
  position: relative;
}
.carListContainer .rela .title{
  width: 100%;
  font-size: 48px;
  color: #03050F;
  font-weight: 700;
}
.carListContainer .rela .desc{
  width: 100%;
  margin-top: 24px;
  color: #636779;
  font-size: 16px;
}
.carListContainer .categoryMenuList{
  width: 100%;
  margin-top: 50px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 20px;
}
.carListContainer .categoryMenuList li{
  display: flex;
}
.carListContainer .categoryMenuList li a{
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding:0 20px;
  height: 52px;
  overflow: hidden;
  border-radius: 8px;
  background: #ECEDF0;
  font-size: 18px;
  color: #03050F;
}
.carListContainer .categoryMenuList li a.on{
  color: #fff;
  background: #636779;
  font-weight: 600;
}
.carListContainer .carListItem{
  width: 100%;
  margin-top: 50px;
}
.carListContainer .carListItem ul{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
}
.formItem{
  flex: 2 !important;
}

.helpWrap{
  position: absolute;
  right: 0;
  top: 30px;
}
.helpWrap a{
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
  position: relative;
}
.helpWrap a span{
  font-size: 16px;
  color: #636779;
}
.tooltip{
  position: absolute;
  right: 0;
  top: -54px;
  width: 440px;
  height: 44px;
  border: 1px solid #C4C6D1;
  border-radius: 4px;
  background: #fff;
  display: none;
  justify-content: center;
  align-items: center;
}
.helpWrap a:hover .tooltip{
  display: flex;
}
.tooltip:after{content: '';
  position: absolute;
  background: url(/image/bg/bg-moseri.png) no-repeat;
  background-size: 15px 15px;
  display: block;
  width: 15px;
  height: 15px;
  z-index: 1;
  bottom:-8.5px;
  left: 248px;
}

.tooltip ul{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin: 0;
}
.tooltip ul li{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}
.tooltip ul li .ucateKey{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  border-radius: 4px;
  background: #ECEDF0;
  color: #636779;
  font-size: 16px;
}
.tooltip ul li .ucateValue{
  font-size: 14px;
  color: #636779;
}

@media (max-width: 1200px) {

}

@media (max-width: 769px) {
  .carListContainer{
    padding-bottom: 40px;
    padding-top: 40px;
  }
  .formItem01{
    width: 100% !important;
    flex: initial !important;
  }
  .formItem02{
    width: 100% !important;
    flex: initial !important;
  }
  .formItem02 >div:first-child{
    display: none;
  }
  .formSelect{
    width: 100% !important;
  }
  .btnReservation{
    width: 100%;
    height: 50px;
    font-size: 18px;
  }
  .carListContainer .rela .title{
    font-size: 24px;
  }
  .carListContainer .rela .desc{
    margin-top: 10px;
    font-size: 14px;
  }
  .carListContainer .categoryMenuList{
    margin-top: 20px;
    gap: 10px;
  }
  .carListContainer .categoryMenuList li a{
    width: 60px;
    height: 40px;
    font-size: 14px;
  }
  .carListContainer .categoryMenuList li a.on{
    background: #636779;
  }
  .carListContainer .carListItem{
    margin-top: 20px;
  }
  .carListContainer .carListItem ul{
    gap: 20px;
  }
  .formItem{
    flex: initial !important;
    width: 100% !important;
  }

  .categoryMenuWrapper{
    width: 100%;
    height: auto;
    overflow: hidden;
    overflow-x: auto;
  }

  .helpWrap{
    position: absolute;
    right: 0;
    top: 5px;
  }
  .tooltip{
    top: 34px;
    width: 160px;
    height: auto;
    padding: 12px;
    right: 50px;
  }
  .tooltip:after{
    transform: rotate(180deg);
    bottom: auto;
    top: -8.5px;
    left: 20px;
  }
  .tooltip ul{
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
  }

}
